p {
    height: 100px;
    width: 100px;
    background-color: lightpink;
    border: 5px solid lightseagreen;
    font-family: Arial, Helvetica, sans-serif;
    overflow: scroll; /* instead of excess content being weird, it will create a scroll box */
    padding: 15px;
    margin: 15px;
}

.box1 {
    background-color: lightskyblue;
    border: 5px dotted lightslategray;   
}

#box2 {
    background-color: lightgoldenrodyellow;
    border: 5px double lightgreen;
}

.nav {
    width: 100vw; /* make this element take up 100% of the width of the screen */
    height: 10vh; /* make this element take up 10% of the height of the screen */
    background-color: burlywood;
}

.nav-item {
    width: 10vw;
    background-color: blanchedalmond;
    border: 2px solid black;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.nav-item:hover {
    background-color: black;
    color: white;
    border: 5px pink solid;
}